.html {
	height: 100%;
}

.body {
	font-family: arial;
	background-color: #FFFFFF;
	margin: auto;
	height: 100%;
}

#wrapper {
	width: 1000px;
	margin: auto;
}

/*------------ Header -----------------------------------*/

#header {
	margin: auto;
	background-color: #009ACD;
	color: #FFFFFF;
	font-size: large;
	font-weight: bold;
	padding: 7px;
	
}

#menu {
	background-color: #FFFFFF;
	margin-bottom: 10px;
	text-align: right;
}

.menubutton {
	background-color: #4682B4;
	color: #FFFFFF;
	font-weight: bold;
	font-size: small;
	border: 0;
	border-left-width: 2;
	border-left: 2;
	border-style:solid;
	height: 25px;
	padding: 5px;
}

.menuButton:hover {
	background-color: #009ACD;
	color: #FFFFFF;
}

.menuButton:active {
	background-color: #2F4F4F;
	color: #FFFFFF;
}

/*--------------- MAIN -----------------------------------*/

.login {
	width: 400px;
	margin: auto;
	text-align: center;
	border: 1px solid #4682B4;
	margin-bottom:10px;
}

.exception {
	font-size: small;
	color: red;
	margin-bottom:20px;
}

/*--------------------SIDEBAR---------------------*/

#sidebar {
	float: right;
	width: 148px;
	margin-bottom: 20px;
}

#sidebarBox {
	border: solid 1px #009ACD;
	border-left: 0;
	width: 148px;
}

#sidebarTitle {
	font-size: small;
	font-weight: bold;
	color:#4682B4;
	border-bottom: solid 1px #009ACD;
	text-align: center; 
}

.sidebarItem {
	font-size: small;
	margin-left: 5px;
	text-align: left;
}

.button {
	background-color: #009ACD;
	border: 0;
	font-weight: bold;
	color:#FFFFFF;
	height: 25px;
	padding: 5px;
	margin-left: 15px;
}

.button:hover {
	background-color: #4682B4;
}

.button:active {
	background-color: #2F4F4F;
}

/*------------------------FOOTER-----------------------*/

#footer {
	background-color: #009ACD;
	height: 25px;
	font-size: small;
	padding-top:5px;
	color: #FFFFFF;
	text-align: center;
	clear: both;
}