html, body {
	height:100%;
	font-size: 12px;
}

.body {
	font-family: arial;
	background-color: #000000;
	margin: auto;
	height: 100%;
	font-size:12px;
}

a:link, a:visited{
	text-decoration: none;
	color: #B22222;
}

a:hover {
	color: #CD2626;
}

#wrapper {
	width: 1000px;
	min-height:86%;
	margin: auto;
	border: 1px solid #cccccc;
	border-radius:10px;
	padding:5px;
	background-color: #FFFFFF;
	font-size: 12px;
}

#wrapper_index {
	width: 1000px;
	background:url("imgs/back.jpg") no-repeat;
	min-height:86%;
	margin: auto;
}

/*------------ Header -----------------------------------*/

#header {
	margin: auto;
	background-color: #B22222;
	color: #FFFFFF;
	font-size: large;
	font-weight: bold;
	height: 37px;
	margin-bottom: 15px;
}
#content {
	padding-top:2px;
	margin:auto;
	width: 1000px;
}

.logotipo {
	float:left;
	margin-top:5px;
	margin-left:10px;
}

#menu {
	width: 400px;
	text-align: right;
	float: right;
	margin-top:5px;
	margin-right:10px;
}

.menubutton {
	background-color: #B22222;
	color: #FFFFFF;
	font-weight: bold;
	font-size: small;
	border: 0;
	border-left-width: 2;
	border-left: 2;
	border-style:solid;
	height: 25px;
	padding: 5px;
}

.menuButton:hover {
	background-color: #CD2626;
	color: #FFFFFF;
}

.menuButton:active {
	background-color: #CD5C5C;
	color: #FFFFFF;
}

#dados_usuario {
	height: 150px;
	margin-left:10px;
	font-stretch: semi-expanded;
}

/*--------------- MAIN -----------------------------------*/
#main {
	width: 566px;
	min-height: 1000px;
}
.login {
	width: 400px;
	margin: auto;
	text-align: center;
	border-radius: 10px;
	margin-bottom:10px;
	clear:both;
	margin-left:60%;
	background-color: #FFFFFF;
	opacity:0.9;
}

.cadastro {
	width: 400px;
	margin: auto;
	text-align: center;
	border-radius:10px;
	margin-bottom:10px;
	margin-left:60%;
	background-color: #FFFFFF;
	opacity:0.8;
}

.exception {
	font-size: small;
	color: red;
	margin-bottom:20px;
}

.novo-post-text-area {
	width: 560px;
	height: 60px;
	max-width: 560px;
}

#regra_composicao {
	margin-top: 10px;
	width: 566px;
	height: 25px;
}


/*--------------------SIDEBAR---------------------*/
#title_bar {
	background: #B22222;
	color: #FFFFFF;
	padding:5px;
	border-radius:5;
	padding-left: 20px;
	margin-bottom: 5px;
	margin-top: 20px;
}

#searchBox {
	margin-top:5px;
	margin-right: 5px;
	clear: left;
}

#feed_extra {
	margin-top:90px;
}

#favoritos {
	margin-top:10px;
}

#meus_sons {
	margin-top:10px;
	margin-bottom: 20px;
}

#sidebar {
	float: right;
	width:420px;
	margin-bottom: 20px;
}

.button {
	background-color: #B22222;
	border: 0;
	font-weight: bold;
	color:#FFFFFF;
	height: 25px;
	padding: 5px;
}

.button:hover {
	background-color: #CD2626;
}

/*------------------------FOOTER-----------------------*/

#footer {
	background-color: #B22222;
	font-size: small;
	text-align: center;
	clear: both;
	margin-top:10px;
	padding-top:10px;
	height: 50px;
}

#copyright {
	width:1000px;
	margin:auto;
	color:#FFFFFF;
}

.logo {
	float:right;
}